.my_heading{
  text-align: center;
  color: rgb(71, 12, 235);
  font-size: 35px;
  font-family: 'Dancing Script',cursive;
  background-image: linear-gradient(to bottom right,purple, white);
  padding: 20px;
  font-weight:900;

}
#no{
  color: red;
  text-align: center;
  font-family: 'Dancing Script',cursive;
}
.all_notes{
  display:inline-flexbox;
  position: relative;
  left: 35%;
}